<div class="container">
  <!-- <div>
    <p>name:{{editStudent.name}}</p>
  </div> -->
  <div class="row text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <h5 class="text-center">Students Details</h5>
               <div class="row text-center" style="background:white;padding:15px;">
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <span style="color:purple;font-weight: bold">{{editStudent.name}}</span>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="assets/img/school/user.png" style="width:70px;">
                  </div>
               </div>
               <hr>
               <div class="row text-center">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <span>Standard</span>
                  </div>
                 
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                     <span>{{editStudent.standard}}</span>
                   </div>
                </div><br>
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <span>Blood Group</span>
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                       <span>{{editStudent.bloodgroup}}</span>
                     </div>
                  </div><br>
                  <div class="row text-center">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span>Father Name</span>
                      </div>
                     
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <span>{{editStudent.fathername}}</span>
                       </div>
                    </div><br>
                    <div class="row text-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <span>Mother Name</span>
                        </div>
                       
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                           <span>{{editStudent.mothername}}</span>
                         </div>
                      </div><br>
        
                      <div class="row text-center">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>Father occupation</span>
                          </div>
                         
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                             <span>{{editStudent.fatheroccupation}}</span>
                           </div>
                        </div>
                        <br>
        
                      <div class="row text-center">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>Mother occupation</span>
                          </div>
                         
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                             <span>{{editStudent.motheroccupation}}</span>
                           </div>
                        </div>
          </div>
    </div>
  </div>
 
</div>
