<div class="col-md-12" style="margin-top: 2.5rem">

  
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Standard</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Transfer To School </th>
                                    <th>Reason</th>
                                    <th>Date</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of allStudents">
                                    <td class="text-center">{{student.id}}</td>
                                    <td>{{student.standard}}</td>
                                    <td>{{student.name}}</td>
                                    <td>{{student.gender}}</td>
                                    <td>{{student.school}}</td>
                                    <td>{{student.reason}}</td>
                                    <td>{{student.date}}</td>
                                    <td class="td-actions text-right">
                                        <a routerLink="/app/viewtransfer/{{student.id}}">
                                          <button type="button" rel="tooltip"  class="btn btn-info" data-original-title="" title="">
                                                  <i class="material-icons">remove_red_eye</i>
                                              </button></a>
                                      <a routerLink="/app/outgoingtransfer"><button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </button></a>
                                        <button type="button" rel="tooltip" (click)="deleteStudent(students)" class="btn btn-danger" data-original-title="" title="">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>



</div>